<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <span
    class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
    ><svg
      fill="currentColor"
      viewBox="0 0 1024 1024"
      aria-hidden="true"
      width="20"
      height="20"
    >
      <path
        d="M92.135072 542.061342l-43.792596 69.556293 82.466577-5.004869-4.54988 84.514024 67.679467-44.759446 39.242716 74.56116 38.673981-74.56116 67.679467 44.759446-4.54988-84.514024 82.466577 5.004869a472.50505 472.50505 0 0 0-38.673981-69.556293l72.798081-39.811451-72.798081-39.811451 43.792596-69.556292-83.035312 4.947995 5.118615-84.45715-68.248202 44.702572-38.673981-74.56116-38.673981 74.56116-68.248202-44.702572 5.118615 84.45715-82.466577-4.947995 43.792596 69.556292-77.916697 39.811451zM233.181356 392.995895a109.31087 109.31087 0 1 1-106.922183 109.31087A108.799008 108.799008 0 0 1 233.181356 393.166516z m616.508756 571.408069a95.149368 95.149368 0 0 1-68.248202-24.85372 163.454443 163.454443 0 0 0-101.803568-34.806583 176.705969 176.705969 0 0 0-101.803567 34.806583 95.149368 95.149368 0 0 1-68.248202 24.85372 93.670657 93.670657 0 0 1-67.679467-24.85372 166.753106 166.753106 0 0 0-102.372302-34.806583 178.298427 178.298427 0 0 0-101.803568 34.806583 105.329725 105.329725 0 0 1-135.927668 0A163.454443 163.454443 0 0 0 0 904.743661v59.660303a93.443163 93.443163 0 0 1 67.679467 24.85372 166.753106 166.753106 0 0 0 102.372302 34.74971 178.298427 178.298427 0 0 0 101.803568-34.74971 105.329725 105.329725 0 0 1 135.927668 0 166.525612 166.525612 0 0 0 203.607136 0 95.888723 95.888723 0 0 1 68.248201-24.85372 93.443163 93.443163 0 0 1 67.679467 24.85372 166.753106 166.753106 0 0 0 102.372303 34.74971 164.933154 164.933154 0 0 0 101.803567-34.74971 94.410012 94.410012 0 0 1 67.679467-24.85372v-59.489682a178.298427 178.298427 0 0 0-101.803568 34.806582 94.637506 94.637506 0 0 1-67.679466 24.853721z m140.477548-745.327236a346.928359 346.928359 0 0 0-155.264659-159.245804l14.787111-39.811451L796.22902 0.170621l-14.78711 39.811451A316.444162 316.444162 0 0 0 398.11451 243.759827l-9.668495 34.74971 34.124101 4.947994a465.737103 465.737103 0 0 1 155.264659 59.660303l4.54988 4.947995h9.668495a419.953935 419.953935 0 0 1 77.916697 9.952863l-135.927668 383.099905h-9.668496a764.948594 764.948594 0 0 0-262.186841 44.759446 885.747912 885.747912 0 0 0-155.264659 74.504287 279.988248 279.988248 0 0 1 53.461091 29.801715 63.413954 63.413954 0 0 0 33.555366 14.900857 39.811451 39.811451 0 0 0 34.124101-14.900857 199.057255 199.057255 0 0 1 135.927668-44.702572 228.347108 228.347108 0 0 1 135.927669 44.702572 63.01584 63.01584 0 0 0 34.124101 14.900857 40.892048 40.892048 0 0 0 34.1241-14.900857 198.033532 198.033532 0 0 1 135.927669-44.702572 228.347108 228.347108 0 0 1 135.927668 44.702572 63.413954 63.413954 0 0 0 33.555366 14.900857 39.811451 39.811451 0 0 0 34.124101-14.900857 263.324312 263.324312 0 0 1 53.461091-29.801715 753.630768 753.630768 0 0 0-155.264658-74.504287 840.760972 840.760972 0 0 0-194.507375-39.811451l131.377788-367.74406a199.057255 199.057255 0 0 1 67.679467 44.759445l5.118615 4.947995h9.668495a456.523596 456.523596 0 0 1 155.264659 59.603429l29.005486 19.905726 9.668495-34.806583a494.060107 494.060107 0 0 0-29.005486-253.485196z"
        p-id="16365"></path>
    </svg>
  </span>

  <!-- Logo Text -->
  <span class="-translate-y-0.5"> bolg</span>
</a>
